[2020-02-17 09:53] fillson-shady opened #14 "Backpressure support"
Hello!
First of all thank you for the great library! That is what I was looking for.

I have question about backpressure support in streaming scenarios.
I have created simple test with client streaming to server with a large chunks of bytes. It works great with a performance near native java-gRPC libraries shows. However, when I have added `ZIO.sleep` to a service logic, test became crushing with

[2020-02-17 10:08] thesamet commented on #14
Hey @fillson-shady . I haven't been thinking about backpressure yet, but happy to get the discussion started and having this implemented soon. Will you be able to contribute a PR? If so, can you briefly describe the design/implementation?

[2020-02-17 10:40] fillson-shady commented on #14
Hi @thesamet , thank you for quick reply!
Unfortunately my workaround can't be used in a general way - it forces you to use special messages for server responses. So I have to investigate the salesforce/reactive-grpc implementation and than adopt it to ZIO ecosystem. It may take a lot of time, but anyway I will write here as soon as I get any results.

[2020-03-10 20:05] dpennell opened #25 "Fix broken example instructions"
Instead of:
`sbt runMain examples/runMain example.ExampleServer`
use:
`sbt "runMain examples.ExampleServer"`

Instead of:
`sbt runMain examples/runMain example.ExampleClient`
use:
`sbt "runMain examples.ExampleClient"`

[2020-03-24 22:24] frekw opened #30 "Metadata support"
Hi!

Is support for metadata (authorization headers in my case) currently supported? If it is, I can't seem to figure out how.

[2020-03-24 23:55] thesamet commented on #30
Hi @frekw, it's currently unsupported. On the server side, are you looking to get it as a parameter to your handler or to intercept it before the call to your handler?

[2020-03-24 23:58] #25 closed

[2020-03-24 23:58] thesamet commented on #25
Thanks for reporting. Fixed.

[2020-03-25 00:07] frekw commented on #30
Hi @thesamet!

I'm primarily looking to get it as a parameter to the handler.

Having support for interceptors would definitely be useful as well, but I guess that could be quite easily worked around in userland!

[2020-03-25 10:47] frekw commented on #30
I tried to give it a go by tweaking the code generation to produce two separate traits, one for the server which accepts `io.grpc.Metadata` as a second parameter and one for the client that I kept as-is.

Then I got kind of stuck how to actually thread the metadata through via the `ZServerCallHandler.*CallHandler`-methods, most likely because I don't know the internals well enough. I think there's

[2020-03-26 17:00] dpennell opened #31 "ZDeps is deprecated"
The generated code uses `Zlayer.NoDeps` and this in turn generates a warning

Our project promotes warnings to fatal.  For now, we've relaxed that to work around.

Let me know if you'd like a PR.

[2020-03-26 17:03] thesamet commented on #31
Yes, that would be great. Thank you.

[2020-03-29 14:17] #31 closed

[2020-03-30 03:40] #30 closed

[2020-03-30 06:45] frekw commented on #30
Awesome, I'll give it a go straight away!

[2020-04-03 22:04] dpennell opened #36 "generated service client and methods have different error type"
Using example client project:

The generated service client has a signature of `Layer[Throwable, GreeterClient]`
The generated methods have signatures of `ZIO[GreeterClient, io.grpc.Status, examples.greeter.Response]`

This results in widening the error type to `Any`

I've worked around this by using `mapError` to map `io.grpc.Status` into a `Throwable`

[2020-04-03 22:46] thesamet commented on #36
Thanks for opening this issue.

What would be the expected change to resolve this? Possibly one of:
1. Fix the client example to demonstrate the types in play and how to use mapError to get back to throwables.
2. Change the generated code to use `StatusException` instead of `Status`?

I found during development that indicating failure seemed cleaner using `Status` rather than an exception, but tha

[2020-04-04 14:03] dpennell commented on #36
The layer uses `Throwable`, generated service calls use `Status` and your application/domain code *may* use a third type.
I think that usage with domain code implies a need for either  `Throwable` or a domain specific type, so the layer and generated service calls should align "out of the box" and not widen to `Any`.  My first inclination would be to pick `Status`, but I assume the layer uses `Thr

[2020-04-05 15:50] dpennell commented on #36
Hmm - that commit was in a private repo. Very surprised that github included it here.

[2020-04-05 16:14] thesamet commented on #36
I'm not seeing any commit or a link to a commit.

[2020-04-05 16:40] dpennell commented on #36
I committed something in a private repo that had a link to this issue.  An entry showed up on this page for me.  Maybe it only shows because I have access to the private repo.  If so, that is perfect.

[2020-04-08 23:46] ghostdogpr opened #37 "Support for flatPackage=true"
It seems that zio-grpc ignores the flatPackage setting so it generates code that doesn't compile when this is `true` (the data is expected to be in their own packages).

Is there a way to make this work in flat mode?

[2020-04-08 23:56] thesamet commented on #37
Hi @ghostdogpr ,
Currently, the only way to do it is to specify `flat_package: true` as a [package-scoped option](https://scalapb.github.io/customizations.html#package-scoped-options) so the same set of options are picked up by both ScalaPB and zio-grpc.

[2020-04-09 00:15] ghostdogpr commented on #37
Oh, that's great, I thought that wasn't supported. Thanks!

[2020-04-09 00:15] #37 closed

[2020-04-09 07:31] ghostdogpr opened #38 "Multiple services in the same server"
Is it possible to create a single server with multiple services?

The example project only shows a single service, and I'm failing to find how to use several. `Server.live` doesn't seem usable if I have `Has[FooService] with Has[BarService]`. It looks as if we need an intermediate structure to combine multiple services before we turn it into a server. But maybe I missed something. Any idea how to

[2020-04-09 12:35] ghostdogpr opened #39 "Context support"
Calling `GrpcContext.key("my-key").get()` triggers a `NullPointerException` because of an underlying call to `Context.current()` that returns null. It seems the Java library is using `ThreadLocal` to store the context, and while the interceptors are running in a dedicated thread managed by the Java library, our handlers are running in threads from the ZIO thread pool.

Any idea on how to deal with

[2020-04-09 12:43] thesamet commented on #39
I think that getting grpc-java's Context to work is going to be tricky given the way threads work in zoo. Can you share more about what you're trying to do? Are you familiar with the recently added `WithContext[A]` trait? Maybe `FiberRef[A]` can be utilized?

[2020-04-09 13:44] ghostdogpr commented on #39
Sure, the use case is pretty simple. I'm migrating some code from ScalaPB/Future to zio-grpc. The old code was using interceptors to extract some data from headers and save them in the Context, then reading it from the handler's code.

I thought of `FiberRef` but the interceptor is called before `unsafeRun`, even before there is any fiber so I didn't really see how to use it. I didn't know about `

[2020-04-09 13:57] ghostdogpr commented on #39
OK, I think I understand. The interceptor gives me the input metadata and let me modify, so I can add my extra stuff in, and then using the `WithContext` variant I can read the metadata (or whatever object I mapped it to). That should do it, thanks.

[2020-04-09 13:57] #39 closed

[2020-04-09 13:59] thesamet commented on #39
Yes, the relevant example is https://github.com/scalapb/zio-grpc/blob/beeaf3a725ac14f56f4d559e8f75d9625c0acd0e/examples/src/main/scala/examples/ExampleServerWithMetadata.scala#L55 . The transformation is effectful, so you can also decide to fail the request if the metadata doesn't validate.

[2020-04-10 05:32] thesamet commented on #38
I added variants of `Server.live` and `Server.managed` that work for two and three services. It should be possible to generalize further. How many services do you expect to have?

[2020-04-10 05:34] ghostdogpr commented on #38
I have 19 currently 😅

[2020-04-10 06:19] thesamet commented on #38
On the latest snapshot, you can try:

[code]

Please let me know if it does the job.

[2020-04-10 07:35] ghostdogpr commented on #38
Yeah, just tried it and it works perfectly. Thanks!

[2020-04-10 07:35] #38 closed

[2020-04-16 08:04] ghostdogpr opened #43 "Generate methods using ZIO environment"
It would be nice to be able to generate methods that return `ZIO[R, Status, ?]` instead of just `IO[Status, ?]`. Maybe something similar to `WithContext`? `WithEnvironment[R]`?

What would be even nicer is to combine both and get the context that way: `ZIO[Context with R, Status, ?]`.

[2020-04-16 17:35] thesamet commented on #43
Thanks for the feedback. Actually, the initial implementation I put together had methods that return `ZIO[R, Status, ?]`. It looks like the [module recipe](https://zio.dev/docs/howto/howto_use_layers#the-module-recipe) that is recently promoted with ZIO encourages us to pass dependencies to modules through parameters, so those signatures have been removed for simplicity.

I am fine with bringing t

[2020-04-16 23:57] ghostdogpr commented on #43
I think we usually want to eliminate dependencies from our methods in regular modules because they get passed around and called from other code, but the gRPC services are the top layer of the application so it's fine that they depend on R since it won't affect the rest of the code.

The main goal is actually to reduce boilerplate: I have a lot of services and for each of them I need to make a clas

[2020-04-19 23:51] thesamet commented on #43
Done! I added support for using environments in generated services. One caveat is that both the environment and the context must be `<: Has[_]`. The reason is that we need to transform the environment from `R with Metadata` to `R with UserContext` using a function `Metadata => ZIO[R, Status, UserContext]` to allow the user to interpret metadata. Feedback is welcome.

Example usage: https://github.

[2020-04-19 23:56] ghostdogpr commented on #43
Nice! I will try it today (I guess it's in the latest snapshot?) and give you my feedback.

[2020-04-20 00:05] thesamet commented on #43
Yes, there's a snapshot for each commit.

[2020-04-20 00:31] ghostdogpr commented on #43
I think I'm missing an implicit def for `bindableService` that accepts an `R` and where `bindService` would return a `URIO[R, ServerServiceDefinition]`. I'm using `ZBindableService.serviceDefinition` because I'm attaching some Java interceptors to it.

[2020-04-20 00:38] ghostdogpr commented on #43
By the way the only reason I still use a Java interceptor is that I need a couple things on `ServerCall` (that are not in `Metadata`), namely `getMethodDescriptor` and `getAttributes`. I don't think there's a way to access it otherwise but let me know if there's a way.

[2020-04-20 00:49] ghostdogpr commented on #43
I can do this and it works, but it would save 2 lines if `ZBindableService` was supporting `R`:
[code]

[2020-04-20 02:16] thesamet commented on #43
Added R support to ZBindableService in ee290f44e4a59978a306b6f7d1d13b277d31169f

[2020-04-20 02:38] thesamet commented on #43
Note that the names may slightly change at this point (that `Aux` in `ZBindableService` is probably not really necessary, I tried to keep the type with one hole)

[2020-04-20 03:30] ghostdogpr commented on #43
It seems to work. It fails to infer types properly on `serviceDefinition` but it works if I mark them explicitly. Not sure if it's possible to make it better though.

[2020-04-20 03:31] ghostdogpr commented on #43
Maybe generate a helper for `serviceDefinition` in each service that is properly tagged?

[2020-04-20 03:48] thesamet commented on #43
Can you create a test case that demonstrates this?

[2020-04-20 04:06] ghostdogpr commented on #43
Oh, it was only IntelliJ 🤦 It compiles well!

[2020-04-20 04:12] ghostdogpr commented on #43
Closing this issue then, thanks a lot!

[2020-04-20 04:12] #43 closed

[2020-04-29 19:01] iravid opened #46 "Test against the latest ZIO snapshot"
Hi @thesamet, we just merged a big refactor to ZStream that embeds chunks on all streams.

 Would be great if you could test zio-grpc against the latest snapshot and see if any issues pop up.

[2020-04-30 02:05] thesamet commented on #46
Tests pass with latest snapshot at ae9cf3a. Seems like there was a signature change in the type parameters of brackExit for ZStreams which caused a compilation error. It seems like this was actually an improvement in type inference, so removing the explicit type parameters fixed the compilation error.

[2020-04-30 02:05] #46 closed

[2020-04-30 05:04] iravid commented on #46
Thanks!

[2020-05-12 22:40] frekw opened #52 "Struggling with composing dependency requirements in transformContext"
Hi!

I'm working on integrating tracing into an app and have stumbled into two challenges:

When a request hits my application, I'd ideally want to extract incoming trace headers and setup a span based on headers in `Metadata`. The best way of doing that (which is what https://github.com/zio/zio-telemetry is doing) would be to be able to do so in a `ZManaged` to make sure the span is always ended

[2020-05-13 02:35] thesamet commented on #52
Hi @frekw , sounds like this is a use case that we should support and have documentation for, so thanks for filing the issue and starting the discussion.

Let's make sure you are working with the latest snapshot, we added support for passing context in the environment.

I think that the ZIO way would be to have `Has[SpanContext] with Has[CurrentUser]` passed down in the environment. If you prefer

[2020-05-13 08:38] frekw commented on #52
Hi @thesamet

Right now I'm on [this snapshot](https://github.com/scalapb/zio-grpc/commit/55ce710412a366aa03a5b0d4956a2851e0c949a8) and using the new `Z`-flavour of the API, with environment support. The reason why I'm not on the latest snapshot is because I'm still using `RC18-2`.

Yes, I absolutely agree. I think what's tripping me up a bit in this case is that my understanding of how one goes a

[2020-05-14 12:50] frekw commented on #52
Hey again!

Just wanted to loop back to this and say that your `transform` proposal works splendidly, after managing to figure out how the types for `transform` and  `ZTransform` suppose to map to one another.

I ended up with this:

[code]

Now onto my next question, ideally I'd like to be able to extract the `getMethodDescriptor()` from the `io.grpc.ServerCall` to be able to automatically annota

[2020-05-18 00:00] #52 closed

[2020-05-18 00:01] thesamet commented on #52
I introduced a new `RequestContext` which you can get through the environment, that contains `Metadata`, as well as the current `MethodDescriptor` and a few other things I found in `io.grpc.ServerCall`.

[2020-05-18 06:17] frekw commented on #52
Amazing, thank you! 🙏 🙏 🙏

[2020-05-19 14:03] frekw opened #59 "Being able to set Metadata per outgoing RPC"
Hi (again)! :)

I'd like to be able to set metadata, or more specifically headers, per outgoing RPC in order to propagate trace context headers to downstream gRPC services.

I _think_ doing this in a lot of real-world use cases would need to be effectful and is probable to have dependencies in the environment.

There are two approaches that I can think of:

1. Parameterising the `Client` on `R` an

[2020-05-19 14:22] thesamet commented on #59
Hi @frekw ,

Another approach would optimize on symmetry with what we added recently to the server side:
3. The client would read the Metadata (or a context object) from the environment. Then run an effect to convert the context into Metadata. If you are writing a server that calls upstream backends, it would enable wiring through the headers implicitly.

I am not sure how I understand how (2) wou

[2020-05-19 15:21] frekw commented on #59
For (2) I'm thinking that it wouldn't really allow you to specify custom headers on a per-request, rather only making sure that you can effectfully update the metadata on a per request basis (i.e you could use stateful using `FiberRef`s under the hood to keep and set and propagate some local request state). So it's definitely an inferior solution technically speaking.

I think (3) sounds like a re

[2020-05-19 15:26] thesamet commented on #59
The main thing that I am concerned about with (3) is users unintentionally passing metadata to an upstream client while implementing a server when they reuse the same Context object. But I think it's a good first try. Would you be interested in putting together a PR?

[2020-05-19 15:33] frekw commented on #59
@thesamet I'd be more than happy to give it a try tomorrow!

[2020-05-20 14:28] frekw commented on #59
Hey!

I threw together a very rough PR just to get an idea of how actual use could work. I think the important part is: https://github.com/scalapb/zio-grpc/blob/8f1e0c40f65e4a133be329d5953357d9052c622c/e2e/src/test/scala/scalapb/zio_grpc/ContextSpec.scala#L87-L95

Where you could provide a mapping function from the environment to the request (if you were to require the same context as you'd extrac

[2020-05-20 15:05] thesamet commented on #59
Thanks for putting this together so quickly. I'll take a closer look tonight.

[2020-05-21 17:19] fillson-shady opened #63 "Memory leak in Stream.merge in ZIO RC-18-2"
Hello!

I faced huge memory leak - millions of FiberContext's are spawned (and not garbage collected) because of using Stream.merge method. Here is the [code](https://github.com/scalapb/zio-grpc/blob/master/core/jvm/src/main/scala/scalapb/zio_grpc/client/ClientCalls.scala#L139).
The problem became smaller in ZIO RC-19-2, however there is still small [leak](https://github.com/zio/zio/issues/3679).

[2020-05-21 17:34] thesamet commented on #63
Yes, we're blocked by https://github.com/zio/zio/issues/3609 and having a release that contains the fix of https://github.com/zio/zio/issues/3660.

[2020-05-24 19:08] thesamet commented on #59
I am also trying to see if we can port the concept of ClientInterceptors from grpc-java. Can you try this on the latest snapshot? https://github.com/scalapb/zio-grpc/commit/6c72b82be2c9bba8833dba8bbbab9a47c54e9e96#diff-5d3ebbe8feb185093f212a10d3f55afbR80-R89

The idea is that we add an interceptor on the channel, before an RPC is sent, you get a chance to run an effect to replace the metadata, as

[2020-05-25 10:56] frekw commented on #59
Awesome! 🙏

It seems to be working, this is pretty much what I ended up with:

[code]

and then wire it like:

[code]

Without the call to `provideLayer` from within the interceptor, the environment/implementation details ends up leaking all over the place (e.g all accessors break), which I'm not sure you'd want.

I'm not sure we actually need the `ZService[R]`, I think just keeping it as a single

[2020-05-25 23:11] thesamet commented on #63
Hi @fillson-shady , I've just merged ZIO-RC20

[2020-05-25 23:20] thesamet commented on #59
I added a few improvements that should make it easier to code for this use case:
1. you can use `def live` defined on the generated service to create a `ZLayer[Tracing, Throwable, ServiceClient]` - no need to go through `fromServiceManaged`.

2. Introduced[ `SafeMetadata`](https://github.com/scalapb/zio-grpc/blob/0f13162ec30c125d67ecfd665bf59e138e5e774e/core/shared/src/main/scala/scalapb/zio_grpc/

[2020-05-26 08:22] frekw commented on #59
@thesamet nice, that cleans things up quite a bit.

Good catch on the `SafeMetadata`!

I'll try to put together an end-to-end example in [zio-telemetry](https://github.com/zio/zio-telemetry) sometime this week!

[2020-05-27 02:34] ghostdogpr commented on #63
@thesamet do you plan doing an official release soon? Very happy about the recent changes exposing methodDescriptor and attributes!

[2020-05-27 15:24] thesamet commented on #63
I've just released 0.3.0 which uses ZIO 1.0.0-RC20

[2020-05-29 12:07] fillson-shady commented on #63
Great news, thank you @thesamet !
Have just switched to 0.3.0 without any difficulties.
It's seems that there is no any memory leaks for now, so I think the task may be closed?
zio/zio#3609 is not related with a memory leaks.

[2020-05-29 15:55] #63 closed

[2020-05-29 15:56] thesamet commented on #63
Yes, #3609 is still impacting the current version, but not a show stopper. I'll document the impact of this issue on this project when I get a chance.

[2020-06-27 14:01] thesamet commented on #59
I believe this is fully resolved at this point.

[2020-06-27 14:01] #59 closed

[2020-08-01 11:42] ragb opened #94 "Installation instructions don't mention Grpc / true neither dependency on scalapb-runtime-grpc at compile"
Will following instructions in the [Installation page](https://scalapb.github.io/zio-grpc/docs/installation/) just realized that Grpc descriptors were not being generated.
After some time kinda lost, just follow the build.sbt in the examples and the reference to `Grpc = true` was there, despite no reference to it anywhere on the docs.

Will this and dependency on scalapb-runtime-grpc the service c

[2020-08-01 13:42] #94 closed

[2020-08-01 13:46] thesamet commented on #94
Sorry for the confusion, and thanks for fixing the docs. In sbt, the default value for grpc would normally be `true`, however in 0.10.5-0.10.7 we had a regression where it defaulted to false (https://github.com/scalapb/ScalaPB/issues/879). It wouldn't hurt to leave grpc=true set explicitly in the docs (as done in this PR), since people may still end up being on one of the versions where it is brok

[2020-08-02 01:12] Jacke opened #97 "Mill Support?"
Hey guys, how to integrate your wonderful project into the mill build app, https://github.com/lihaoyi/mill ?  👀

[2020-08-02 18:01] thesamet commented on #97
Hey @Jacke , as I am not currently using mill myself, I will need your help here.

Mill support for ScalaPB is based on ScalaPBC. Starting from the most recent version of ScalaPB (0.10.8), ScalaPBC can download a plugin from maven and run it. The command line would be:

[code]

To get this to work in mill, you'll need to get it to build this command line here:
 https://github.com/lihaoyi/mill/blob

[2020-08-19 08:14] octavz opened #107 "Scala 2.13 for codegen"
Hi,
It seems to me that the code generator doesn't work with 2.13?
Will this be implemented anytime soon?

Thank You.

[2020-08-19 08:22] octavz commented on #107
Just following the README leads to this error:

[code]

[2020-08-19 10:19] octavz commented on #107
my mistake, it was added also in build.sbt  as dep.

[2020-08-19 10:19] #107 closed

[2020-08-30 01:38] markosski opened #109 "Making server layer dependent on configuration layer"
In provided examples port is provided explicitly, e.g.
[code]
I have a configuration layer and would like to pass port number from it into serverLayer, what's the best way to accomplish this?

[2020-08-30 02:29] thesamet commented on #109
Hi @markosski ,
The following code would work in the context of the HelloWorldServer example https://github.com/scalapb/zio-grpc/blob/master/examples/src/main/scala/zio_grpc/examples/helloworld/HelloWorldServer.scala:

[code]

[2020-08-30 19:39] markosski commented on #109
Hi @thesamet this solved my problem, thank you!

[2020-08-30 19:39] #109 closed

[2020-08-30 19:51] markosski opened #110 "io.grpc.ManagedChannelProvider$ProviderNotFoundException"
I'm getting following error with assembled (fat jar) GRPC client application. Everything works fine when running directly in sbt which makes me think assembly is excluding something.

[code]

Using following deps:
[code]

SBT Assembly configuration:
[code]

Example Client Layer:
[code]

[2020-08-30 19:55] thesamet commented on #110
Here it's been suggested to move to grpc-netty-shaded: https://github.com/googleapis/google-cloud-java/issues/2810

[2020-08-30 20:06] thesamet commented on #110
Looks like I once added a note on it on ScalaPB's docs: https://scalapb.github.io/docs/grpc/#grpc-netty-issues

[2020-08-30 21:45] markosski commented on #110
Thanks @thesamet
I had similar error with server app and used `NettyServerBuilder` directly which solved it.
On the client side I tried `grpc-netty-shaded` but doesn't seem to be solving the issue.

[2020-08-30 22:29] markosski commented on #110
@thesamet actually found some older gitter discussion where you suggested to use following merge rule which seemed to fix it :)

[code]

[2020-08-30 23:12] thesamet commented on #110
Interesting! Can you submit an edit to this docs summarizing the solutions we have: https://github.com/scalapb/ScalaPB/edit/master/docs/src/main/markdown/grpc.md

[2020-08-31 06:28] alexdupre opened #111 "Manual channel handling in client"
Scenario:
- client consumes multiple services from the same server endpoint
- client connects concurrently to multiple servers in a dynamic way (number or servers and their ip addresses can change at runtime)
- rpc calls to each server may span several minutes and fibers
- connections are established with TLS

I'm quite new to zio and zio-grpc, so I might have missed some obvious things, but as fa

[2020-08-31 07:16] thesamet commented on #111
Hi @alexdupre , if you want a single channel/client to live for the entire app, you can:
1. [Recommended: create the client at the top level as a layer using the `live` method and use the layer in the app as needed.
2. create the client at the top level using the generated `Client.managed`, and have your entire app live inside the client's `_.use()` method.

Having the channel created and shutdown

[2020-08-31 08:01] alexdupre commented on #111
As far as I've understood the use of the layer with `live` (and similarly your second alternative with `managed`) is ok if you need to connect to a single server, ie. there is a static 1:1 service/server relationship. In that case each service would have its own channel, but the same channels are used in the entire application.

In my case I have a dynamic set of servers (all implementing the same

[2020-08-31 14:57] thesamet commented on #111
A single channel can represent a set of underlying TLS connections that change over time, see [Java docs](https://grpc.github.io/grpc-java/javadoc/io/grpc/Channel.html). You can implement your own Channel interface that switches between servers as you need and shares the underlying TCP connection.

In other words, a single Channel and a single Client can still end up talking to any number of serve

[2020-09-01 00:15] markosski commented on #110
Submitted PR https://github.com/scalapb/ScalaPB/pull/909, closing this issue.

[2020-09-01 00:15] #110 closed

[2020-09-07 05:51] alexdupre commented on #111
A single channel can be used to communicate with multiple servers in a load-balancing or fail-over scenario, it doesn't seem the right way to communicate with different servers when you need to target a specific one (ie. when each server is a separate entity with different state).

[2020-09-16 17:54] ghostbuster91 opened #119 "Add option to set metadata per request"
According to grpc docummentation

https://grpc.io/docs/what-is-grpc/core-concepts/#metadata

The key here is "Metadata is information about a **particular** RPC call"

So, there should be a way to pass different metadata for each rpc call.

Akka implementation of grpc supports that - https://doc.akka.io/docs/akka-grpc/current/client/details.html#request-metadata

[2020-09-16 19:36] thesamet commented on #119
Sure, we can build different APIs to accomplish this. What is the use case you have that requires a different metadata for each call?

[2020-09-16 19:58] ahjohannessen commented on #119
fs2-grpc does this. Useful for tracing, auth and so on.

[2020-09-16 20:13] thesamet commented on #119
I am thinking of making it possible to get the metadata from the environment, in order to not break the API and keep the interface similar to the server:

[code]

Thoughts?

[2020-09-23 11:24] tuleism opened #123 "Update callOptions with ZClientInterceptor"
Is it possible to change `callOptions` within `ZClientInterceptor.interceptCall`? My use case is to use an interceptor to set deadline for every request.

[2020-09-23 20:55] thesamet commented on #123
I think this should be possible by intercepting the call and passing an updated `callOptions`, see similar code here that modifies the metadata: https://github.com/scalapb/zio-grpc/blob/master/core/shared/src/main/scala/scalapb/zio_grpc/ZClientInterceptor.scala

I haven't tried this, but I expect this to be fairly simply. It would be great if you can report here what you find.

[2020-09-24 14:10] ahjohannessen commented on #119
@thesamet So the generated code does not change, right? Then that metadata is still `Metadata` / `SafeMetadata`? Or can it be some thing like `ZIO[A, Error, Metadata]` and ZIO[Metadata, Error, Metadata] ?

[2020-09-24 14:39] thesamet commented on #119
@ahjohannessen , Yes, we could do that too - the client can have a function that tells it how to get the metadata from the environment.

[2020-09-26 02:18] thesamet commented on #119
I pushed a commit which offers a simpler solution: if you have a client, you could do:

[code]

[2020-09-26 08:43] ahjohannessen commented on #119
@thesamet I suppose the overhead of `new ServiceStub` per call is not big when doing `withMetadat/M`? Otherwise that is very useful due to the ability pass tokens and similar.

[2020-09-26 14:06] ghostbuster91 commented on #119
IMO it is strange to require users to build a new serviceStub each time they make a call (assuming that each call takes different metadata). I think that it is better to break things in order to provide consistent and developer friendly api than to try maintaining backward compatibility, at least given the early stage of the project.

I am not a zio expert but it seems more zio-ish to pass it thro

[2020-09-26 18:56] thesamet commented on #119
In terms of performance, creating a stub is only another object allocation. The overhead is negligible: sending a single RPC involves many allocations to all sorts of short-lived helper classes both in ZIO gRPC and grpc-java.

The current API `(withMetadta)` is analogous to the `attachHeaders` method in [MetadataUtils](https://grpc.github.io/grpc-java/javadoc/io/grpc/stub/MetadataUtils.html#attach

[2020-09-26 19:15] ghostbuster91 commented on #119
Awesome, thanks for the explanation and examples, I think that it should cover most of the cases.

[2020-10-01 09:12] RicoGit opened #125 "Handle ZIO failures/causes?"
I'd like to handle all  ZIO `Cause`, like this `call.catchAllCause` in one place with some custom logic. Is it possible to add somehow `ServerInterceptor` or stuff like that and recover from Zio causes and return `Status.Internal` for clients?

[2020-10-01 15:25] thesamet commented on #125
Yes. We have an abstraction called [ZTransform](https://github.com/scalapb/zio-grpc/blob/f005ac792d492ddc97771a7b14e008d47bdb6dc4/core/shared/src/main/scala/scalapb/zio_grpc/ZTransform.scala#L8-L17) that lets you transform all effects/streams that are returned by a service in the same way. In your case, you want to apply `catchAllCause` to all of them.

The steps are:
1. Create a ZTransform object

[2020-10-02 10:20] RicoGit commented on #125
Cool, thanks.

[2020-10-02 10:20] #125 closed

[2020-10-12 03:02] thesamet commented on #119
I believe this issue can be resolved. Feel free to open another issue if there are still any gaps.

[2020-10-12 03:02] #119 closed

[2020-10-19 00:59] tuleism commented on #123
@thesamet

It seems not possible now. On a `ClientCall` or `ZClientCall`, we cannot update the `callOptions`. The only way to do it is to pass the updated `callOptions` to a `channel.newCall`. However, `ZClientInterceptor.interceptCall` doesn't provide a reference to `channel`.

zio-grpc:

[code]

java-grpc:

[code]

Another scenario is that I want to set custom deadline per call - e.g with ScalaP

[2020-10-21 07:45] octavz opened #140 "Unused import"
Hi,

I get an warning in the generated code

[code]

This will not allow met to use `-Xfatal-warnings` flag.

Thank You.

[2020-10-21 15:31] thesamet commented on #140
This import is required to avoid a compiler warning about implicit conversion for the line that starts with:

[code]

Can you provide a minimal example project that demonstrates this problem? (The issue doesn't mention scala version, zio-grpc version, scala options in use - so hard to help further)

[2020-10-22 17:11] octavz commented on #140
Here, https://github.com/octavz/grpc-test

This doesn't build for me.

Thank you.

[2020-10-22 17:16] thesamet commented on #140
I suspect that this is because you are passing the following scalacOption flag: ```"-language:implicitConversions", //Allow definition of implicit functions called views```

Can you try removing it?

[2020-10-22 17:30] thesamet commented on #140
Confirmed that if the `-language:implicitConversions` flag is removed then it compiles cleanly. Note that the line `import scala.language.implicitConversions` can't be removed since most users don't use `-language:implicitConversions` and they would get a different warning. Our goal is to get the generated code to compile cleanly with the default compiler options.

My suggestion to you would be cr

[2020-10-23 05:10] octavz commented on #140
Thank you, clear explanation. Closing it.

[2020-10-23 05:10] #140 closed

[2020-10-24 13:23] tampler opened #144 "CI support"
Hello

I wanna add some liveness test for CI. Which agent do you prefer? Travis? Gitlab? Circle?

[2020-10-24 13:55] tampler commented on #144
Ooh, I missed the current CI. OK, I'll offer my test for the `workflows` CI

[2020-10-24 13:55] #144 closed

[2020-10-27 13:11] tampler opened #145 "Kubernetes deployment - multiple replicas"
Hello

I'm trying to deploy a demo service on a test cluster. It consists only a single Master node.
If I increase replica set to > 1, Kubernetes fails to instantiate multiple pods due to the `port already in use` error (see the screenshot)

The service still works, but with a single replica per node.

How to scale this service, when each replica blocks the system port ? I can only think about set

[2020-10-27 14:58] thesamet commented on #145
From https://kubernetes.io/docs/concepts/configuration/overview/#services:

[2020-10-27 17:56] fillson-shady commented on #14
@thesamet hello again!
Finally I have an opportunity to look on this.
Let's consider one-way streaming case with a slow consumer. With the current approach we have 2 problem places:
- out of memory on consumer, because it consumes all incoming messages in the unbounded queue
- out of memory on producer - if consumer doesn't accept more messages, producer will overflow it's internal gRPC send buffe

[2020-10-27 19:20] tampler commented on #145
Hi Nadav

Thanks for the info. Indeed, this solves my initial problem and I see 2 replicas of my `zio-grpc` service up and running.

However, this gets me to another problem, possibly with `Kubernetes Ingress / Load Balancing` setup. Now I don't know how to get to my fixed port (9090), since it was not opened

I guess there should be another guide to setup `Kubernetes with Envoy proxy for gRPC`, s

[2020-10-27 20:30] thesamet commented on #145
@tampler , envoy proxy would have to connect to the service exposed by Kubernetes, not a specific port on a host. See https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/

[2020-10-27 20:33] thesamet commented on #145
Re guide for custom k8s deployments - worth asking with the envoyproxy team.

[2020-10-27 20:55] tampler commented on #145
Thank you ! Will take a look. Closing this since my initial problem was solved.

[2020-10-27 20:55] #145 closed

[2020-10-28 18:26] dpennell opened #146 "Do you have plans to derive REST services from GRPC specifications?"
Something like https://github.com/btlines/grpcgateway

[2020-10-28 18:32] thesamet commented on #146
Hey @dpennell , there isn't such a plan. What use case do you have in mind? If the use case was to make it possible to connect from a browser through HTTP, I'd consider using grpc web (https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-WEB.md) and use something like envoyproxy. This use case is supported for zio-grpc.

[2020-10-29 12:57] dpennell commented on #146
I was just speculating about switching REST server frameworks to something with ZIO support and thought it would be nice to also get GRPC support.  I have no use-case for providing services by GRPC (yet...).

I'm happily using zio-grpc client for integrating with a third party GRPC service.

[2020-10-29 18:41] thesamet commented on #146
There's https://github.com/grpc-ecosystem/grpc-gateway which can expose a restful interface to your grpc service. This way the service backend can be pure ZIO and zio-grpc, and work with ScalaPB case class, while all the json conversions and http are handled by the gateway.

[2020-10-31 07:39] thesamet commented on #123
I added support for setting deadlines per request, documented here and available in the latest snapshot: https://scalapb.github.io/zio-grpc/docs/deadlines

[2020-10-31 20:10] thesamet commented on #14
For the second problem, I see that `ServerCall` has an `isReady` method: https://grpc.github.io/grpc-java/javadoc/io/grpc/ServerCall.html#isReady--  . Can we use that to simplify the solution?

[2020-10-31 20:40] ahjohannessen commented on #14
@thesamet see https://github.com/fiadliel/fs2-grpc/pull/39 for inspiration. I guess that PR needs to be worked through and merged as well.

[2020-10-31 20:52] thesamet commented on #14
Yes, I was thinking of a solution that worked like this (sleep while not ready, otherwise send)

[2020-10-31 20:57] ahjohannessen commented on #14
Java example from grpc:

[code]
However, it is noted in grpc-java api docs that methods that only send one message, i.e unary and server streaming should not use `isReady`

[2020-11-02 12:41] fillson-shady commented on #14
Oh, I've just missed this APIs. Sure, we can use `isReady` and `onReady` in both client and server calls.

@ahjohannessen thanks for example!

[2020-11-03 04:39] vyshane commented on #146
@dpennell Envoy can also provide HTTP/1 and JSON [transcoding](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/grpc_json_transcoder_filter).

[2020-11-03 08:24] thesamet commented on #146
Thanks for sharing @vyshane . Sounds like we have a pretty good answer for this issue.

[2020-11-03 08:24] #146 closed

[2020-11-05 08:56] fillson-shady commented on #14
Hi @thesamet! I made a PR: #152
I also want to add some tests, but it's not so obvious:

- we can't count outgoing messages in sender because of internal gPRC/TCP buffers
- we can't count incoming messages in slow consumer because they can be placed in internal `Queue`
- we can't just send an infinite stream to a slow consumer, because in case of failure we can get OOM and non terminating jvm

So,

[2020-11-25 09:15] octavz opened #162 "flatPackage option"
Hi,

When using `flatPackage` option I expected the ZIO code to be generated ignoring the file name. Is this by design or is a bug?

My use case is that the files are called with `xxx_yyy` and it appears `import com..xxx_yyy.ZioStuff._` and I would prefer not to have the `xxx_yyy` part in the `import`

Thank You.

[2020-11-25 09:50] octavz commented on #162
even more if i use `flatPackage` it doesn't seem to work anymore since all the import are searching for `xxx_yyy`.

[2020-11-25 16:11] thesamet commented on #162
ScalaPB and ZioCodeGenerator are two different code generators. If you pass `flatPackage` to ScalaPB, there's no way for ZioCodeGenerator to know that, so you'll end up with invalid references in the generated code. To make all generators see the same configuration, use package-scoped options: https://scalapb.github.io/docs/customizations/#package-scoped-options

[2020-11-25 16:11] #162 closed

[2020-12-04 02:13] wangzhs opened #165 "版本2.13中创建channel感觉有变化"
NettyChannelBuilder.forAddress("localhost", 8888).usePlaintext()

[2020-12-04 02:34] thesamet commented on #165
Hi @wangzhs , will you be able to post the full question or problem statement in English?

[2020-12-04 02:39] wangzhs commented on #165
hi, channel creati in version 2.13 feels changed. I can't use ` ManagedChannelBuilder.forAddress("localhost", 8980).usePlaintext()`

[2020-12-04 03:04] thesamet commented on #165
ManagedChannelBuilder is provided by grpc-java - it doesn't depend in any way on the Scala version you are using. Are you getting an actual compiler error or is it only IntelliJ marking this as an error? I have heard in the past that IntelliJ falsely reports this line as an error: https://gitter.im/ScalaPB/community?at=5e7ebc31c8bfec7e2c61e8d8  try splitting the statement into two lines.

[2020-12-04 07:31] ahjohannessen commented on #165
@thesamet Perhaps it is related to this https://github.com/grpc/grpc-java/pull/7294 in 1.34.1

[2020-12-07 22:35] borissmidt opened #172 "Example uses weird version"
Hey i wanted to try out this grpc library. But sadly i had a binary incompatiblity with version 0.4.0.
it couldn't find `Stream.from(qeueu:Queue) `

So i upgraded the library to 0.4.1 but that didn't work either and that even broke the server but this wan't listed on your page.

Also once you start coding a server and clean the generated code then the instruction `sbt compile` doesn't work anymore

[2020-12-07 22:53] thesamet commented on #172
Hi Boris, the zip file you attached seems to be empty. It would be really helpful if you describe specifically what you mean when you write "broke the server", or "doesn't work anymore" - please write the exact steps you were taking (having the example project would be great), and the specific error messages that you are seeing. Otherwise, it's hard to help.

`Stream.from` is a ZIO function: it's

[2020-12-08 02:09] ghostdogpr opened #173 "Support for response Metadata (trailers)"
Currently `unaryInputCallDriver` sends a hardcoded empty `Metadata` object when it calls `close`:
[code]

It would be great to expose this so that the server can add metadata to the response.

[2020-12-08 02:24] thesamet commented on #173
Sure - any thoughts for an API for that? What use case do you have in mind?

One way could be to enable this at bulk for an entire service (so individual method handlers don't have control, but there's a unified function that can take a generic response and add meta data). Alternatively, we change the effect type for each handler to allow for metadata.

[2020-12-08 02:42] ghostdogpr commented on #173
In my case we need to send a custom error code to the client in case of error, so it would be per-call.

I initially used `put` on the existing `SafeMetadata` thinking that would be sent back to the client before realizing it didn't work (I guess it makes sense, you don't want to re-send all the received metadata). Since I need it both in case of error and success, maybe using the environment make

[2020-12-08 03:13] thesamet commented on #173
Interesting idea for having the responseMetadata provided to the handler through `RequestContext` - that sounds like a way to achieve it with minimal breakage to the overall API.

[2020-12-08 07:25] borissmidt commented on #172
Oke so Stream.from is a ZIO function changed that it included a chunk size now so it is missing a parameter in your project if you are on a too new version of ZIO.
after upgrading it fails on another binary compatibility error but now with the grpc library.
I forgot the -r in the zip command sorry for that.
[grpc-project.zip](https://github.com/scalapb/zio-grpc/files/5657499/grpc-project.zip)

[2020-12-08 19:37] thesamet commented on #172
In 1251457 I updated the version of the example and README to the latest (0.4.2).

[2020-12-08 19:44] thesamet commented on #172
I think all the issues you have raised are addressed with the latest version of zio-grpc (0.4.2) and the updated version information in the example project and README. Please feel free to open additional issues if you come across any issue.

[2020-12-08 19:44] #172 closed

[2020-12-12 18:38] thesamet commented on #165
Closing due to inactivity. If the issue persists, please file a new issue with precise steps to reproduce the problem and include the error messages or other details that could help resolving it.

[2020-12-12 18:38] #123 closed

[2020-12-12 20:41] thesamet commented on #173
I checked in some initial implementation of the idea of using RequestContext. When trying to write some tests, I noticed that we also need to make the response headers available for the client. I think this can be done through the pre-existing client Context. Will follow through soon - would also appreciate if anyone can try to take it from here.

[2020-12-14 10:48] serrufSe opened #177 "Listening socket is not released"
Hello
I've found what listening sock might not be released, since scalapb.zio_grpc.Server.ServiceImpl releas underlying io.grpc.Server with io.grpc.Server#shutdown method
Should scalapb.zio_grpc.Server.ServiceImpl#toManaged releas with io.grpc.Server#shutdownNow instead?
Is there a good reason not to do this?
Or maybe a pull request for more flexible behavior would be more appropriate ?
Reproducin

[2020-12-15 22:02] fokot opened #179 "Bug - null value in proto class with no error"
Hi @thesamet , I found my grpc server was not responding and it took me long time to find out what was wrong. I was interacting with java library and accidentally set `null` to `String` field in proto class. I didn't get any message from server and there was no error in logs. Even everything went ok in the gRPC method implementation. I didn't investigate it further but I will take a look on it how

[2020-12-15 22:55] fokot commented on #179
I tried to catch it in `CallDriver.unaryInputCallDriver` like this
[code]
but I got just done. No error from `writeResponse` neither from full effect.

[2020-12-29 19:20] ubourdon opened #187 "using exotic scheme as URI"
Hi,

I try to make a grpc client for a eventstore db using zio-grpc, and the scheme to use to connect the db is `esdb://` but when i use it client throw an error `cannot find a NameResolver for esdb://xxx`.

THere is a way to handle this kind of scheme ?

I use `ManagedChannelBuilder.forTarget(s"esdb://$host:$port")` to init the managed builder.

ManagedChannelBuilder.forAddress dont allow me to s

[2020-12-29 19:37] thesamet commented on #187
Hi @ubourdon , this scheme is not known to grpc-java.  If it's just a grpc service behind `$host:$port` then maybe just strip out the scheme?

[2020-12-29 19:57] ubourdon commented on #187
Hi. Thx for your answer.
Seems esdb:// scheme is mandatory for connect the db.

They make an java client for their db and use this scheme cf. https://github.com/EventStore/EventStoreDB-Client-Java/blob/trunk/db-client-java/src/test/java/testcontainers/module/EventStoreTestDBContainer.java#L64

I think they use grpc-java too no ? Do you know how to do same ?

[2020-12-29 21:07] thesamet commented on #187
I am not familiar with EventStoreDB. I suggest asking their devs whether it is possible to connect a service from a standard grpc client. If it's a standard grpc service, you can also try connecting to it using a command-line tool such as https://github.com/fullstorydev/grpcurl

[2020-12-29 22:36] ubourdon commented on #187
Thx for your help.
At the opposite of i write before, seems esdb scheme is not mandatory.
The tool you  link to me will be very useful.
Thx again.

[2020-12-29 22:36] #187 closed

[2021-01-11 16:29] narma opened #190 "Metadata not supported in scala.js"
Currently in scala.js grpc client `Metadata` refers to https://github.com/scalapb/scalapb-grpcweb/blob/v0.4.2/grpcweb/src/main/scala/io/grpc/Metadata.scala which is non-patchable outside stub.

[2021-02-27 18:04] virusdave opened #213 "Publish codegen for scala 2.13?"
Hello,

It looks like you've stopped publishing libraries for scala 2.13.  Is there a reason?  Can you publish the recent 0.4.x releases for 2.13?

Thanks!

[2021-02-27 18:13] thesamet commented on #213
Hi Dave, we're still publishing for 2.13, here are the artifacts: https://repo1.maven.org/maven2/com/thesamet/scalapb/zio-grpc/zio-grpc-core_2.13/0.4.3/

The codegen itself is published only for 2.12 since it's needed for sbt (which is based on 2.12), but that shouldn't impact you as a user.

[2021-02-27 18:14] virusdave commented on #213
I was just about to note that i refer specifically to `zio-grpc-codegen`, but you beat me to it.
It actually does impact me, since I'm using Bazel not SBT.

[2021-02-27 18:16] virusdave commented on #213
To clarify, I'd like to use the codegen as one of the generators for protobufs, which should work just fine (with a bit of config magic) assuming a 2.13 version is published (since our codebase is a 2.13 scala tree)

[2021-03-05 12:57] penp3n commented on #173
For my use case, I am using a unified error type defined in my application domain for all APIs. I would like to transform that domain error type to a `Status` and response metadata containing containing a `com.google.rpc.ErrorInfo` object. Having a way to generically transform the error channel in this way would be ideal, but I understand that would introduce a breaking API change to the generated

[2021-03-08 14:20] frekw opened #217 "ZTransform fails to infer types"
Hi!

Adding the issues [from gitter](https://gitter.im/ScalaPB/community?at=604094a4d2619a4f2e20422a) that I ran into.

Basically, `ZTransform` fails to infer the types even for simple transformations.

[This gist](https://gist.github.com/frekw/8d671592ca202256835db8a82692ee24), more or less extracted from the guides, fails to compile with

[code]

However, adding type annotations to the `transfor

[2021-03-18 17:15] Marc-Ducret opened #224 "Failing RPCs can have their status replaced by CANCLED"
* In [CallDriver.scala L28](https://github.com/scalapb/zio-grpc/blob/1d40515d4fae3210bbfc8ed81f6a6df0eab41c54/core/jvm/src/main/scala/scalapb/zio_grpc/server/CallDriver.scala#L28): the status is set to `CANCELED` whenever `cause.interrupted` is true.

* In this simple code sniped, we have an effect that fails with an error **and** `cause.interrupted` being true:
[code]
output:
[code]

It is especi

[2021-03-18 17:17] thesamet commented on #224
Hi @Marc-Ducret - thanks for reporting. Will you be able to put together a PR and include the test case as well to prevent regressions?

[2021-03-19 09:56] Marc-Ducret commented on #224
Hi @thesamet, sure.
Here is the PR: https://github.com/scalapb/zio-grpc/pull/225

[2021-03-20 04:29] #224 closed

[2021-03-26 22:04] penp3n commented on #173
Hi @thesamet, I can try to get this over the finish line if you'd like. Are there any other pointers I should know about before jumping in?

[2021-03-26 22:12] thesamet commented on #173
@penp3n thanks for the proposal to move forward with this. The furthest I got can be found in the `response_metadata` branch in this repo. It's been a while since I last looked into it, but I'll be happy to answer any specific questions you'll have as you go.

[2021-04-04 22:55] phderome commented on #14
How about using `ZStream.effectAsyncMaybe` and not sleep?
[code]

[code]

See Itamar explain it in action at London 2019 (`registerTweetAlert` example): https://youtu.be/bbss7elSfxs?t=1501

[2021-04-10 17:51] phderome commented on #14
I think the tests could use some enhancements as they pass on this incorrect "hot spinning solution". Possibly `InProcessServerBuilder` should be looked into.

[code]

[2021-05-01 20:44] thesamet opened #250 "Support Scala 3"
The code in master currently compiles for Scala 3, however the tests fail in runtime.

To run the tests in sbt:
[code]

You'll notice that TestServiceSpec gets stuck. By commenting out some tests I was also able to get an exception related pertaining to a "defect in `zio.Has`".

[2021-05-10 17:32] Nickersoft opened #255 "InvalidWireTypeException when attempting to use with Bazel"
Hey folks, I've been trying to adapt `zio-grpc` for my Bazel project using [rules_scala](https://github.com/bazelbuild/rules_scala)'s custom code generator support.

However, attempting to compile my code throws:

[code]

To use the generator, I'm just importing the codegen as a Maven library then wrapping it as a codegen for Bazel:

[code]

`scala_proto_library` uses ScalaPB under-the-hood so I a

[2021-05-10 20:56] Nickersoft commented on #255
Hey @thesamet, thanks for the quick reply! I imagined as much... and like you, I'm not entirely certain how the toolchain works either. I've posted an additional ticket over on that repo to see if there's any additional insight from the rule maintainers.

[2021-05-13 01:02] Nickersoft commented on #255
This issue has been resolved in the linked ticket. Thanks for the guidance!

[2021-05-13 01:02] #255 closed

[2021-05-13 02:30] Nickersoft opened #257 "Server layer requires needs implicits – current repo example (ExampleServer) doesn't work"
I apologize for opening another issue so quickly after closing my last, but poking around the examples in the code (and attempting to work on my own server), I noticed that ServerLayer (or the legacy Server) cannot be used without the use of an implicit ZBindableService.

No matter which implicits are imported I can't seem to get this message to go away:

![image](https://user-images.githubusercon

[2021-05-13 04:05] thesamet commented on #257
IntelliJ error reporting can sometimes be incorrect. Can you check if there is really a compilation error by trying to compile your project with `sbt compile`?  If there is, can you put together a sample project demonstrating the failure?

[2021-05-13 06:03] Nickersoft commented on #257
I can confirm the entire ExampleServer doesn't seem to compile.. `sbt` seems to only run the code in `src`, so I forked this repo and moved the `server` folder inside `src` and changed the package: https://github.com/Nickersoft/zio-grpc/tree/master/examples/src/main/scala/zio_grpc/examples/server.

Running `sbt` produced:

[code]

As far as the implicit error, I can confirm I received an error in

[2021-05-13 07:06] thesamet commented on #257
You are right, thanks for reporting this! It looks like the `build.sbt` we currently have in the `examples` directory got messed up at some point. As a result, some of the example code doesn't get compiled and might no longer compile. I'll look into it and get that fixed soon. However, the following files still contain server code that gets compiled on CI: `src/main/scala/zio_grpc/examples/hellowo

[2021-05-13 18:05] Nickersoft commented on #257
That would be very helpful :) I was mostly interested in ExampleServer because it seemed to have a concrete example of how to use a service that has other module dependencies. RouteGuide technically has dependencies, but they aren't the kind that are provided via a layer (just constructor-based value deps). I looked at the [docs](https://scalapb.github.io/zio-grpc/docs/context), but it seems to mo

[2021-05-14 03:48] thesamet commented on #257
I updated the examples to latest version of ZIO and ZIO-gRPC such that they all compile. The source you were looking at is now in `examples/fullapp`. Can you take a look?

[2021-05-14 18:13] Nickersoft commented on #257
Looks good! Not sure what did it, but from the looks of things the implicit error has gone away. I should be able to work with this. Thanks so much!

[2021-05-14 18:13] #257 closed

[2021-05-17 21:22] jtjeferreira opened #264 "Performance in benchmarks"
Hi!

As discussed in [gitter](https://gitter.im/ScalaPB/community?at=60a2872cc12aec4aa2ce728e) I am opening an issue to document some findings about the zio-grpc performance in this [benchmark](https://github.com/LesnyRumcajs/grpc_bench). I started this journey investigating why the akka-grpc results were so bad (https://discuss.lightbend.com/t/akka-grpc-performance-in-benchmarks/8236/) but then g

[2021-05-17 21:45] jtjeferreira commented on #264
The flamegraphs are available here https://drive.google.com/drive/folders/1Ef8nc_t01O8pTuD4eCiNk3J1WFPGJAms but the only obvious thing is the outside TLAB allocations caused by `scalapb.zio_grpc.server.ZServerCall#sendMessage`

![image](https://user-images.githubusercontent.com/943051/118560221-0ba4ea00-b761-11eb-931d-41fe8e2ab25a.png)

[2021-05-17 21:53] thesamet commented on #264
Thanks! I'm trying to interpret the flamegraph. It looks like the majority of the time is spent in grpc itself writing the responses to the output steam (from `sendMessage` and above). That's unexpected given that that this is a shared call path across all implementation, while grpc-java performs significantly faster.

[2021-05-18 10:34] jtjeferreira commented on #264
Here are some more details from the JFR recording.

GC is definitely a problem:

![image](https://user-images.githubusercontent.com/943051/118634502-80603e80-b7ca-11eb-9fd1-4713024f7782.png)

Threads:

![image](https://user-images.githubusercontent.com/943051/118634593-9cfc7680-b7ca-11eb-82a1-7c7f19ca0598.png)

Memory:

![image](https://user-images.githubusercontent.com/943051/118635197-39bf1400-b

[2021-05-18 15:19] thesamet commented on #264
Possibly the benchmarks can improve substantially if the heap is more generous (via `-Xmx`) or a different garbage collector is used.

[2021-05-18 15:22] jtjeferreira commented on #264
true, I am running the benchmarks with `GRPC_SERVER_RAM=512m` and with `-XX:MinRAMPercentage=70 -XX:MaxRAMPercentage=70"`. OTOH the java benchmark is running with that same GC and settings

[2021-05-18 15:32] jtjeferreira commented on #264
But maybe there are ways to avoid all those allocations:
* `SingleThreadedRingBuffer` is responsible for 14% of the inside TLAB allocations...
* and `sendMessage` is responsible for 80% of the outside TLAB allocations...

[2021-05-18 15:43] thesamet commented on #264
Isn't `sendMessage` shared function that the Java implementation uses too?

It's reasonable to expect to have the ZIO implementation perform significantly more allocations per RPC. There's a number of grpc-java API calls per request. Each call is wrapped in an effect and these effects are chained with ZIO combinators.

[2021-05-18 23:48] jtjeferreira commented on #264
https://discuss.lightbend.com/t/akka-grpc-performance-in-benchmarks/8236/14

[2021-05-18 23:54] thesamet commented on #264
Thanks for working on it! It looks like applying the setting also improved the plain Java benchmark so we now have a higher target to chase :)

[2021-05-18 23:57] jtjeferreira commented on #264
No. this was only a problem in the scala implementations

[2021-05-19 13:33] jtjeferreira commented on #264
Hi again,

just wanted to share some details about the updated benchmark now with the right heap settings

![image](https://user-images.githubusercontent.com/943051/118819205-05bc1f80-b8ad-11eb-939b-834f23387680.png)

The left side corresponds to the ServiceBuilder Executor threads, the middle side to netty threads, and the right side to zio threads. For comparison here is the java flamegraph, whe

[2021-05-25 06:47] notxcain commented on #173
@penp3n @thesamet hey what's the status of this?

[2021-05-25 14:17] thesamet commented on #173
No updates on my end - this is still awaiting a PR.

[2021-05-26 15:02] octavz commented on #250
Hi I believe these are related, https://github.com/zio/izumi-reflect/issues/103, tried to look a bit but couldn't figure it out yet.

[2021-05-31 15:06] tampler opened #269 "Netty Fatal Crash for GRPC Codegen"
Hello

Haven't used ZIO GRPC for a good while. After trying getting back to it and bumping all versions in my older hello world project, I discovered an unexpected Netty Crash on startup. This code worked before (9 months ago), so smth needs to be changed. Pls advice

Fatal:
[code]

Reference project [here](https://github.com/zio-mesh/zio-grpc-debug)

Setup ***
OS: Ubuntu 20.04
JVM: openjdk versio

[2021-05-31 15:14] tampler commented on #269
Oops, I'm sorry. Forgot to bump grpc-netty to its latest version. Bumped to 1.38.0 and all works now!

Thanks for supporting this project !

[2021-05-31 15:14] #269 closed

[2021-05-31 15:24] ollyw opened #270 "ZService.withMetadata not thread safe"
When testing concurrent calls to a ZService the service started throwing exceptions. The ZService works fine without concurrency. An example exception is:
[code]

Looking at the underlying Java API, the headers are not threadsafe. From the docs in ClientCall.start
[code]
Therefore it seems that the headers should be created _per call_ not per ZService. My usage of the service was using ZService `

[2021-06-01 01:58] thesamet commented on #270
You are right! I think it would be sufficient to have `withMetadata` take the metadata by-name. I wouldn't go as far as taking unit or removing it, for ergonomic reasons. A PR will be welcome! (would need docs/examples to be looked at too)

[2021-07-14 16:59] ollyw commented on #270
Sorry about the delay at looking into this. I just took a look now and attempted to rework withMetadata to take a by name parameter, but it still wouldn't be safe because SafeMetadata can only be constructed with an effect, and therefore there is no way to construct a new SafeMetadata per call in a by name variant of withMetadata.

If SafeMetadata had an effectless constructor, it could work, but

[2021-07-17 16:25] thesamet commented on #270
Thanks for reporting and nvestigating this issue, as well as sending a PR to prevent others from running into this problem. Merged!

[2021-07-17 16:25] #270 closed

[2021-08-23 04:38] adamstarlight commented on #250
Are there any news?

[2021-08-23 04:43] thesamet commented on #250
No, the root cause isn't identified yet. It would be great if someone can look into it.

[2021-08-31 03:53] nsadeh opened #296 "Compile Error for Missing Bindable Service Implicit"
Description:

I am unable to compile a simple gRPC server running on ZIO gRPC because it complains of missing implicit arguments even though I think I imported them. Here is what I did:

1. I followed the directions for plugins/dependencies on the website.
2. For my service, I generated a ZManaged with the type signature `ZManaged[Any, Nothing, ZioMyService.ZMyService[ZEnv, Any]]`
3. I added the s

[2021-08-31 03:59] nsadeh commented on #296
Update: I was able to get this to compile by using a `ZIO` instead of `ZManaged` but I still think this warrants looking at.

[2021-08-31 04:01] thesamet commented on #296
Thanks for reporting! Looks like something that should be fixed. Could you provide a minimal example of this error through a PR that adds a unit test under the e2e directory?

[2021-08-31 04:04] nsadeh commented on #296
I would like to - I think I can get to it on Wednesday.

[2021-08-31 04:06] nsadeh commented on #296
Although since this is a compile issue rather than a runtime issue, I don't know if the unit test is needed? Should I just create a ServerMain example?

[2021-08-31 06:36] thesamet commented on #296
Yes, we use tests also for compile-time, to make sure the APIs work as intended, and implicits can be found in the scenarios we want to support. This also helps preventing regressions for the use cases under test.

[2021-08-31 06:36] thesamet commented on #296
However, feel free to provide a reproducible example in any way that is convenient for you and I'll take a look and move it around as needed.

[2021-09-01 07:31] Horneth opened #298 "Close call without sending headers when processing fails"
According to [this](https://github.com/grpc/proposal/blob/master/A6-client-retries.md) document that outlines the design of the gRPC retry mechanism, a call can only take advantage of the built-in retries if the server does not send back response headers (which "commits" the call). Particularly relevant: https://github.com/grpc/proposal/blob/master/A6-client-retries.md#when-retries-are-valid

I'm

[2021-09-02 00:13] thesamet commented on #298
Thanks for bringing this up. Makes sense and PR would be welcome. Will you be able to test that the change doesn't break interoperability with at least grpc-java?

[2021-09-02 13:37] devsprint opened #299 "Support ZIO 2.0"
ZIO is evolving ... ZIO 2.0 support will be great.

[2021-09-02 16:46] thesamet commented on #298
Yes, particularly asking for that since the doc status is marked as proposal that is ready to implementation. I wanted to be sure existing clients won't have issues with the new behavior.

[2021-09-03 05:23] thesamet commented on #299
Took a stab at it. We currently have all the tests working except of one related to RPC cancellation. There are plenty of compile-time warning on deprecations that need to be cleaned up as well. If anyone would like to take it from here - it would be appreciated!

[2021-09-03 07:14] devsprint commented on #299
@thesamet I will look over it and contribute during this week-end. Thank you

[2021-09-06 19:23] nsadeh commented on #296
Hey @thesamet I am still tracking this just got a bit behind :)

[2021-09-20 08:40] andersmartini commented on #30
that link is a 404, can the examples be found somewhere else these days?

[2021-09-21 09:02] tuleism commented on #296
@nsadeh does #301 fix it for you?

[2021-09-23 07:05] frekw opened #309 "Wrap an entire call/response chain in ZClientInterceptor"
Hi!

I'm trying to write a (actually two) general `ZClientInterceptor` that adds metrics and tracing for any outgoing gRPC call for the zio-grpc client.

However, `ZClientInterceptor` today only allows me to modify the outgoing call, and I have no knowledge about when the call returns.

Ideally, I'd be able to register a wrapper that can follow the entire lifecycle of the call (ideally, in the tra

[2021-10-03 19:20] nsadeh opened #314 "Highlight error on .usePlaintext() for gRPC client"
Description:

I lifted the following code out of the example: https://scalapb.github.io/zio-grpc/docs/basics#creating-the-client

[code]

because of the type signature of .usePlaintext(), I get `Cannot resolve overloaded method 'ZManagedChannel'` as a syntax highlight for an error. However, SBT knows how to compile it.

Not sure if this should go here or as an IntelliJ bug, but was wondering if yo

[2021-10-03 23:33] thesamet commented on #314
Hey @nsadeh , this appears like an IntelliJ bug and should be reported in their tracker - I am not sure there's anything we can do within this repo or of a way to suppress it.

[2021-10-03 23:33] #314 closed

[2021-10-04 07:51] gavares commented on #299
My MR fixes the failing tests and deprecations: #311

[2021-11-25 07:45] carbonshow commented on #299
the `Has` data type has been removed since ZIO 2.0.0-M6, see [ZIO release notes](https://github.com/zio/zio/releases/tag/v2.0.0-M6).

@gavares could you update grpc with the change?

[2022-01-26 09:32] kuzkdmy opened #356 "SafeMetadata inconvenient usage to get info from raw metadata, always forced to be wrapped with Effect or unsafeRun"
Having existing contract of SafeMetadata, it is not comfortable for clients that want to get something from metadata and make this a part of ZIO env for generated server

It looks that contract method with unsafeMetadata or getMetadataState can be a good solution

Where it is not comfortable:
trait Z.....GENERATED......Service[-R, -Context]
When you wish this -Context to be some custom class, exam

[2022-01-26 12:34] thesamet commented on #356
Thanks for reporting. Please check out [this doc](https://scalapb.github.io/zio-grpc/docs/context#context-transformations). You can write a service where the context class is `Ctx2`, and use `transformContextM` to convert it to a service that has `RequestContext` as context so you don't have have to write a `CanBind` yourself. The next example on that page is how to effectfully resolve a user from

[2022-01-30 11:21] justcoon commented on #356
@thesamet  is there way how to get all  keys ?
something similar to

[code]
?

[2022-01-30 17:31] thesamet commented on #356
You can call any `Metadata` method through `wrap`: https://github.com/scalapb/zio-grpc/blob/0f241c21e6df755e01f9711a6a5030cc4a44e999/core/src/main/scala/scalapb/zio_grpc/SafeMetadata.scala#L22: `safeMetadata.wrap(_.keys)`

[2022-01-30 17:49] justcoon commented on #356
@thesamet thank you very much for hint

[2022-02-15 22:54] GMadorell opened #364 "Quickstart fails to run on a M1 Mac"
* OS: macOS Monterey 12.2 on a Apple M1 Pro chip.

Running over Quickstart (https://scalapb.github.io/zio-grpc/docs/quickstart), all steps until the following one work perfectly:

[code]

Running this one fails with:
[code]

I've done some research and came across this one: https://github.com/protocolbuffers/protobuf/issues/8062. Seems like "oldish" versions of protobuf are not compiled for M1 chi

[2022-02-15 23:24] thesamet commented on #364
Thanks for reporting! I'll look into this in more detail, but I believe that updating `project/plugins.sbt` to the latest version of sbt-protoc (1.0.6) should resolve this.

[2022-03-04 07:41] ultram4rine commented on #250
Hi, is the problem still there? I ran `e2eJVM3/test` and all tests seem to pass.

[2022-04-06 15:48] #364 closed

[2022-04-06 15:50] #356 closed

[2022-04-20 03:18] jxnu-liguobin opened #388 "How to use `zio-grpc` in maven?"
I didn't find the plugin, or how to implement a new maven plugin ?

[2022-04-20 05:27] thesamet commented on #388
Hi @jxnu-liguobin , we publish an executable version of the plugin here: https://mvnrepository.com/artifact/com.thesamet.scalapb.zio-grpc/protoc-gen-zio/0.5.1

I haven't tested it, but If you follow the example in this file and add a file line the one highlighted https://github.com/thesamet/scalapb-maven-example/blob/87721bc939a2440ef0bc9802df4863799e15de09/pom.xml#L144 adapted for the linked plug

[2022-04-20 09:11] jxnu-liguobin commented on #388
Thank you for your reply. I'd like to try it.

[2022-04-20 16:51] ya-goodfella commented on #299
Hi @thesamet,

Appreciation of all the wonderful effort you do on this track. :)

I've tried to migrate my project to zio 2.0.0-RC5 and unfortunately latest head of zio2 branch generates code that is incompatible with RC5.

Have you tried to look into the latest zio RC? Maybe you may drop some tips for me how to solve generated code incompatibilities effectively, so maybe I would be able to bring

[2022-04-20 17:00] thesamet commented on #299
Hi @ya-goodfella , there are end-to-end tests within this repo that show up as `eveJVM2_13` in sbt. Running these tests generates code for the e2e project. The process for solving the incompatibilities is a matter of making changes to the generator code and running the e2e tests through SBT.

[2022-04-21 03:56] ashwinbhaskar commented on #299
@ya-goodfella `zio2`'s head uses `ZIO 2.0.0-RC1`

[2022-04-21 12:48] jxnu-liguobin commented on #388
@thesamet Compile failed: "error: class Any needs to be a trait to be mixed in",
But I have added dependency "scalapb-runtime-grpc"

[2022-04-21 13:29] jxnu-liguobin commented on #388
Because the scalapb protoc version does not match the scalapb runtime version

[2022-04-21 13:29] #388 closed

[2022-04-22 02:23] jxnu-liguobin opened #389 "Compile failed when run in github ci"
![image](https://user-images.githubusercontent.com/29496873/164583485-af15c3ac-aa92-4235-9a30-c36ca5b31a70.png)

Could someone know how to resolve it ？ Maybe charset？ Thank you.

BTW It's work on Mac osx。

More information about error ：https://github.com/bitlap/bitlap/runs/6115339544?check_suite_focus=true

[2022-04-22 02:49] thesamet commented on #389
It looks like you're passing binary files as proto files:
[code]
so protoc (the protoc compiler) fails.

[2022-04-22 03:10] jxnu-liguobin commented on #389
Is the file stored in the wrong format?

[2022-04-22 03:16] thesamet commented on #389
Hi @jxnu-liguobin , please take the time to do perform some initial investigation before filing issues and asking for help. Github issues are meant to report bugs. To understand what the protobuf compiler does, you can start by following one of these tutorials: https://scalapb.github.io/docs/getting-started

[2022-04-22 03:16] #389 closed

[2022-04-22 05:03] thesamet commented on #389
I took a second look at the project and the mentioned file does seem to be a proto file, so there's something else going on. I suggest trying to investigate further by minimizing the change you are introducing to the repo.

[2022-04-22 05:20] jxnu-liguobin commented on #389
Solved, because a osx Google protoc is introduced into POM。

[2022-05-10 14:49] DanielBlanco commented on #97
Here https://com-lihaoyi.github.io/mill/mill/Plugin_ScalaPB.html at the bottom of the page there is an example adding `--zio-out`

[2022-05-28 01:53] shonfeder opened #396 "Generated code can trigger `parameter value evidence$3 in method live is never used` compiler warning"
I hit this with generated code from the following proto spec:

[code]

I found a workaround to silence the warning from this SO answer: https://stackoverflow.com/a/66354074/1187277 . They also mention hitting the exact same warning with zio-grpc.

It'd be nice if this warning were silenced in the source, but at least I thought it would be helpful to record the workaround here for future seekers. A

[2022-06-01 07:45] jxnu-liguobin opened #398 "The method signature makes the intellij idea unrecognizable (compiles fine)"
<img width="1331" alt="image" src="https://user-images.githubusercontent.com/29496873/171353540-486476f1-ac3c-4b82-839a-a743b20fa3ad.png">
Seems to be a very common error, probably an intellij idea problem

[2022-06-01 07:52] #398 closed

[2022-06-22 17:24] Gregory-Berkman-Imprivata opened #399 "Support Graceful Shutdown for Server"
The zio-grpc wrapper for `io.grpc.Server` does not allow for graceful shutdown.

The method in `scalapb.zio_grpc.ServerImpl`:
`def shutdown: Task[Unit] = ZIO.effect(underlying.shutdown()).unit`
calls the underlying shutdown which returns before preexisting calls have finished. The underlying Server does have an `awaitTermination` which blocks until all of the preexisting calls have finished (after

[2022-06-22 18:01] thesamet commented on #399
Thanks for reporting and suggesting the fix in `toManaged`. I assume you're not too far from sending a PR :) If possible, it would be great to get two PRs to target both master branch for ZIO 2 and 0.5.x for ZIO 1. As a heads up the ZIO 2 branch doesn't have `Managed`.

[2022-07-13 16:02] Vlad1Badilovskii opened #410 "ZIO 2.0 (zio.Runtime$unsafeRun())"
Hallo, there are some braking changes was made by ZIO 2.0. They do not have unsafeRun() method in Runtime anymore.
`io.Runtime.unsafeRun(Lzio/ZIO;Ljava/lang/Object;)Ljava/lang/Object;
	at scalapb.zio_grpc.client.UnaryClientCallListener.onClose(UnaryClientCallListener.scala:52)
	at io.grpc.internal.DelayedClientCall$DelayedListener$3.run(DelayedClientCall.java:468)`

[2022-07-13 16:19] Nickersoft commented on #299
Now that https://github.com/scalapb/zio-grpc/pull/400 is landed, can this issue be closed? It looks like there may still be some lingering issues, however (e.g. #410).

[2022-07-13 19:43] #299 closed

[2022-07-13 19:45] thesamet commented on #410
I believe this will be resolved with a new releae of zio-grpc that is compiled with 2.0.0. In the meantime, can you try the snapshot version `0.0.0+1-d7f1552a-SNAPSHOT` and report if it works?

[2022-07-14 02:39] #173 closed

[2022-07-19 04:39] ghostdogpr commented on #410
@thesamet is it possible to make a real release? I can't make the code generation plugin using a snapshot 🤔

[2022-07-20 17:02] Vlad1Badilovskii commented on #410
Sorry for so long. On local looks good, but due to security restrictions of my project can't use snapshot

[2022-07-26 09:13] Killjoyer commented on #410
Hello. When approximately there will be a zio 2.0.0 release? I see tag `0.6.0-test4` on github, but there is no such release on [maven](https://repo1.maven.org/maven2/com/thesamet/scalapb/zio-grpc/).

[2022-07-26 15:19] Vlad1Badilovskii commented on #410
+1

[2022-07-26 17:01] thesamet commented on #410
Love the anticipation here :) I fixed the build (our pgp key had expired) and 0.6.0-test4 should be on maven shortly.

[2022-07-26 17:01] #410 closed

[2022-07-26 17:16] shonfeder commented on #410
Thanks or all your excellent work, @thesamet!

[2022-08-14 10:27] regiskuckaertz opened #421 "ZIO 2 stable release"
Hi @thesamet

We are keen to help you get the remaining work over the line for releasing a stable ZIO 2.0 version of the library. Would you mind listing the tickets that should be solved first? Or do you need help with the testing or something else?

[2022-08-14 14:39] thesamet commented on #421
Thanks for offering help! The only things that I'm aware of that block a stable release are:
1. Enable .github/workflows/ci.yml for Scala 3 (I believe ther'es a compile error now)
2. There used to be a flaky test in e2eJVM. I am not sure if it's been fixed, but I wanted to ensure this isn't representing a bug. Need to run the suite multiple times to see if it shows up.

[2022-08-14 17:21] regiskuckaertz commented on #421
Great! I fixed the compilation issue in #422

Even though all the tests are passing (which should allow you to close #250 ) I see an exception being thrown in a spec that is not reported as a failure:
[code]

do you have an idea off the top your head? Otherwise I'll dig deeper.

[2022-08-14 21:32] thesamet commented on #421
It looks like there's no shutdown followed by awaitTermination on the client side similar to the change you recently made for the server side.

[2022-08-24 06:59] regiskuckaertz commented on #421
I ran the benchmarks from https://github.com/scalapb/zio-grpc/issues/264 with the latest release and I was very surprised that the zio 2 version of zio-grpc was way slower than fs2-grpc. If anything I would have thought the runtime optimisation that was bandied about at the ZIO 2 release would have helped here, since there is a lot of `unsafeRun` everywhere, but it is definitely not the case. I wi

[2022-09-19 13:26] ashwinbhaskar commented on #421
@thesamet is there a plan to release zio 2 version of the library anytime soon? Just asking so that I can plan accordingly:)

[2022-09-24 15:06] thesamet commented on #421
@ashwinbhaskar Currently there's a 0.6.0-test4 release. Help is still needed in debugging a flaky test so we can have a stable release.

[2022-09-24 15:07] thesamet commented on #399
Solved in #416.

[2022-09-24 15:07] #399 closed

[2022-09-24 15:10] thesamet commented on #250
Scala 3 is now supported.

[2022-09-24 15:10] #250 closed

[2022-11-01 18:06] Gregory-Berkman-Imprivata commented on #173
@ghostdogpr any example of how trailers are populated from a request?

[2022-11-10 14:56] regiskuckaertz commented on #14
We seem to be hit by the lack of backpressure in one of our services with Netty dying of an `java.lang.OutOfMemoryError: Direct buffer memory`. What can I do to help?

I looked at the akka-grpc implementation which can be summarised as:
- at start, pull an element from the source
- when receiving an element from the source, send it and, if client is ready, pull if not already pulled
- when client

[2022-11-10 18:12] thesamet commented on #14
Hi @regiskuckaertz , thanks for bringing this up. I'll be open to a PR for rebasing the existing #152 PR or getting a new one if a simpler/better approach is available. The only reason that the original PR didn't make it in the first place was the extra complexity without real-world demand to warrant that.

[2022-11-13 11:13] regiskuckaertz commented on #421
@thesamet I think I fixed it [here](https://github.com/scalapb/zio-grpc/blob/master/core/src/main/scalajvm/scalapb/zio_grpc/ZChannel.scala#L53) after all or is there another one you were thinking about? I ran the suite many times with no failure in sight.

[2022-11-13 17:39] thesamet commented on #421
This is great! I also haven't seen this flaky test in the past few CI runs today.

[2022-11-13 17:53] thesamet commented on #421
I spoke too soon: https://github.com/scalapb/zio-grpc/actions/runs/3456300753/jobs/5768932356#step:6:147

[2022-11-17 08:25] regiskuckaertz opened #449 "Refactor how request context is passed to rpc handlers"
Currently, upon a server call, a handler for an RPC will receive a value of type `RequestContext` in the environment. Indeed a definition:

[code]

will result in the instantiation of a service that has the following general shape:

[code]

which is ultimately instantiated with `context = RequestContext`. This is invoked by the underlying implementation in the server call handler:

https://github.

[2022-11-17 17:56] thesamet commented on #449
Can you edit the issue and add more specific details on the change you are proposing? Not sure, but I think you are proposing to see requestContext passed as an explicit parameter to all request methods in the generated code rather than passed through the environment?

[2022-11-19 09:26] regiskuckaertz commented on #449
Yep, done!

[2022-11-19 17:27] thesamet commented on #449
I'm generally ok with this change. Agree that working with the context through the environment can be a bit awkward, and if it is shown to have significant performance implications we can have the generated services use two parameters. As this is a breaking change, I wonder what's @ghostdogpr's current take on this (see discussion in #43)

[2022-11-20 00:44] ghostdogpr commented on #449
In other case we have some logic that modifies the context (parses the raw context, validates it and replaces with a new one). This is achieved in a generic way by applying a transformer. If we moved the context to a single parameter, we would have to manually call the transformation for each rpc (we have hundreds 😅), right?

On the other hand if there's a significant performance improvement I can

[2022-11-20 11:12] regiskuckaertz commented on #449
Yes that is my understanding, you can see the ticket for details.

I think it would be just as easy to transform the parameter before being served to your implementation, it just needs a bit of tweaking to the interface.

In the synthetic benchmarks I ran, zio 1 and 2 were doing worse than other solutions, and zio 2 was the sore loser. It may have improved with the many fixes in 2.0.3 and 2.0.4, t

[2022-11-20 11:21] ghostdogpr commented on #449
Oh I missed the part about the new `ZTransform`, it would basically allowing me doing the same thing I am already doing (process the context and stick it into the environment).

[2022-11-20 12:14] regiskuckaertz commented on #449
How about:

[code]

[2022-11-21 14:47] ghostdogpr commented on #449
Sounds reasonable!

Btw is the performance much worse with zio 2 than zio 1 even if you don't transform the context? I'm about to migrate soon so quite concerned with what you said 😄 maybe we can discuss this next week at Functional Scala!

[2022-11-21 18:56] regiskuckaertz commented on #449
I'd like to run some benchmarks with work stealing disabled, will do that this weekend. But iirc performance wise we have some work to do compared to other libraries.

[2022-11-23 08:03] regiskuckaertz commented on #421
Ah, right, here's the fix: https://github.com/scalapb/zio-grpc/pull/451

[2022-11-25 10:34] regiskuckaertz commented on #14
@thesamet could you cut a zio 1.x release please? or are snapshots available? eager to give https://github.com/scalapb/zio-grpc/pull/448 a run for its money on my app. btw if needed, where would you put configuration settings, like the size of the buffer?

[2022-11-25 17:15] thesamet commented on #14
We have a snapshot for each commit at https://oss.sonatype.org/content/repositories/snapshots/com/thesamet/scalapb/zio-grpc/ . Can you try it out before we cut a release? For configuring, I suggest for now a JVM system property (`sys.Prop`) named `zio-grpc.backpressure-queue-size` that defaults to 16 if unset.

[2022-11-29 10:37] regiskuckaertz commented on #14
@thesamet Yes, i will let you know asap.

[2022-11-29 17:45] regiskuckaertz commented on #14
@thesamet actually sorry but I can't find the snapshot. Does it work for the 0.5 branch too? I tried https://oss.sonatype.org/content/repositories/snapshots/com/thesamet/scalapb/zio-grpc/zio-grpc-codegen_2.13/0.0.0+1-fcbebe07-SNAPSHOT/ but this is the zio 2 one from master.

[2022-11-29 18:04] thesamet commented on #14
You're right! Snapshots were only being built from master. I've changed `release.yml` on 0.5.x so it gets snapshots too. The latest snapshot containing your change is `0.5.2+4-ef57448d-SNAPSHOT`.

[2022-11-30 09:49] lxwbr commented on #421
@thesamet do you think the latest 0.6.0 test release is production-ready or would you advise waiting until all flaky tests are fixed?

[2022-11-30 17:08] lxwbr commented on #421
@thesamet thanks, yes we do use streaming API, although realistically I am not expecting cases in production where we would run into back-pressure situations. Will let you know if we should have any issues with the test release.